{% extends "base.html" %}

{% block title %} Todo List {% endblock %}


{% block content %}


<div id="content">
    <h2 class="text-center">TO DO LIST WITH FLASK</h2>
    <div class="center area">
        <form action="/" method="POST" class="form-inline">
                <div class="form-group mx-sm-3 mb-2" >
                    <input name="content" type="text" class="form-control"  placeholder="Eg: Wash the dishes">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Add Task</button>
                
        </form>
    </div>
    <div class="center area">
        {% if tasks | length < 1 %}
        <h4>THER IS NO TASK ADDED</h4>
        {% else %}
        <div class="row">
        <table class="table table-striped col-md-12" >
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Task Name</th>
                    <th scope="col">Added</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
            <tr>
                <td >{{ task.content }}</td>
                <td class="date"> {{ moment(task.data_created).fromNow() }}</td>
                <td>
                    <a href="/delete/{{task.id}}"><i class="delete-icon icon fas fa-trash fa"></i></a>
                    <a href="/update/{{task.id}}"><i class="update-icon icon fas fa-pencil-alt"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        <div>
    {% endif %}
</div>
{% endblock %}