{% extends "bootstrap/base.html" %}

{% block title %} Todo List {% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{ url_for('.static', filename='css/main.css') }}">

{% endblock %}


{% block body %}
<div class="content">
    <h1>TO DO LIST WITH FLASK</h1>
    <form action="/" method="POST" class="form-inline">
            <div class="form-group mx-sm-8 mb-2" >
                <input name="content" type="text" class="form-control"  placeholder="Wash the dishes">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Add Task</button>

    </form>
    {% if tasks | length < 1 %}
    <h4>THER IS NO TASK ADDED</h4>
    {% else %}
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Task Name</th>
                <th scope="col">Date</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
        <tr>
            <td >{{ task.content }}</td>
            <td>{{ task.data_created.date() }}</td>
            <td>
                <a href="/delete/{{task.id}}">Delete</a>
                <a href="/update/{{task.id}}">Update</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}