{% extends "base.html" %}

{% block title %} Update {% endblock %}



{% block content %}
<div class="content">
    <h2 class="text-center">Edit Task</h2>
    <div class="center area">
        <form class="form-inline" method="POST" action="/update/{{ task.id }}">
            <div class="form-group mx-sm-3 mb-2">
              <input type="text" class="form-control" id="contentInput" name="content" value="{{ task.content }}">
            </div>
            <button id="submitButton" type="submit" class="btn btn-primary mb-2">Confirm identity</button>
          </form>
    </div>
</div>
{% endblock %}